body {
	font-size: calc(16px + .25vw);
    -webkit-font-feature-settings: "onum" 1;
    font-feature-settings: "onum" 1;
    letter-spacing: -.25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: #d1d1d1;
    margin: 0;
}

	
#header {
    height: 80px;
    background-color: #0c1013;
    -webkit-box-shadow: 0 0 19px 2px rgba(255, 255, 255, 0.91);
    box-shadow: 0 0 19px 2px rgba(255, 255, 255, 0.91);
    position: relative;
    z-index: 100;
}


.a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 25px;
    font-weight: 700;
	margin-top: 20px;
	text-shadow: #ffffff 0 0 20px;

}

.but {
	border: none;
	background: none;
}

#but_search {
	margin-left: 10px;
	background-color:#0c1013;
	border: none;
}

#but_search:hover {
	background: #2a272b; border-radius: 7px; transition-property: color, border-radius; transition-duration:.2s, 1s; transition-timing-function: linear, ease-in; transition-delay: 0s, 1s;
}



.a:hover {
	color: #ea00ff; border-radius: 7px; transition-property: color, border-radius; transition-duration:.2s, 1s; transition-timing-function: linear, ease-in; transition-delay: 0s, 2s;
	text-shadow: #ff64ea 0 0 20px;
}

a {
    background-color: transparent;
}

#text {
	width: 20%;
	height: auto;
	-webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,.6);
	box-shadow: inset 0 0 5px 1px rgba(0,0,0,.6);
	border: 1px solid rgba(6,6,6,.99);
	background-color: #0f1012;
	outline: 0;
	color: #d1d1d1!important;
	font-family: "Roboto Condensed",sans-serif;
	font-size: 16px;
	font-weight: 30;
	padding: 15px 20px;
	line-height: inherit;

}

h1 {
	color: #ffffff!important;
	font-family: "Roboto Condensed",sans-serif;
}
h2 {
	color: #ffffff!important;
	font-family: "Roboto Condensed",sans-serif;
}

h3 {
	color: #ffffff!important;
	font-family: "Roboto Condensed",sans-serif;
}


#hello {
	margin-top: 50px;
	margin-left: 100px;
	text-shadow: #ff00ea 0 0 20px;
	float: left;
}

#hi {
	height: 800px;
}


#game {
	float: left;
	margin-top: 40px;
    filter: drop-shadow(0 0 2em #24c0db);
}

#categ {
	height: 800px;
	background: white;
}

.c {
	background-color: white;
	font-family: "Roboto Condensed",sans-serif;
	box-shadow: rgb(218, 218, 218) 0 0 20px;
	border: none;
	height: 300px;
	margin-top: 30px;
	width: 400px;
	margin-left: 70px;
	border-radius: 25px;

}

.c:hover {
	box-shadow: rgb(92, 92, 92) 0 0 50px;; border-radius: 7px; transition-property: box-shadow, border-radius; transition-duration:.2s, 1s; transition-timing-function: linear, ease-in; transition-delay: 0s, 2s;
}

.d {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 25px;
    font-weight: 700;
	
	
}

#cat {
	color: black!important;
	margin-top: 50px;

}

.f {
	color: gray!important;
}

#more {
	height: 500px;
	background: #ffffff;
}
#discord {
	height: 500px;
	background-image: url(assets/media/discord1.png);
}

#but_new {
	background: none;
	border: none;
	margin-top: 70px;
	-webkit-box-shadow: 0 0 19px 2px rgba(255, 0, 212, 0.91);
    	box-shadow: 0 0 19px 2px rgba(255, 0, 221, 0.91);
	float: left;
	margin-left: 100px;
	border-radius: 25px;
}

#new {
	border-radius: 25px;
}

#new:hover {
	width: 620px;
	transition: width 0.3s cubic-bezier(0, 0, 1, 1) 100ms;
}

#join {
	height: 30px;
	border: none;
	background-color: white;
	-webkit-box-shadow: 0 0 19px 2px rgba(255, 255, 255, 0.91);
    box-shadow: 0 0 19px 2px rgba(255, 255, 255, 0.91);
}
#b {
	text-decoration: none;
	color:black
}
#b:hover {
	text-decoration: none;
	color: white
}

#join:hover {
	background-color: #2f00ff; border-radius: 7px; transition-property: color, border-radius; transition-duration:.2s, 1s; transition-timing-function: linear, ease-in; transition-delay: 0s, 2s;
	-webkit-box-shadow: 0 0 19px 2px rgba(0, 247, 255, 0.91);
    box-shadow: 0 0 19px 2px rgba(0, 255, 255, 0.91);
	color:white
}


#podval {
	height: 300px;
}

#prosto {
	height: 20px;
}

#ds_img {
	float: left;
	margin-left: 270px;
	margin-top: 20px;
}

#ds_text_server {
	float: left; 
}

#ds_text { 
	margin-top: 50px;
}

#join {
	margin-top: 100px;
	float: left;
	margin-right: 500px;
}

#footer {
	height: 200px;
	background: #0c1013;;

}


#copyright {
	margin-top: 80px;
	height: 60px;
	background: black;
}

#p {
	text-shadow: #ffffff 0 0 20px;
	margin-left: 20px;
	font-family: "Roboto Condensed",sans-serif;
}

#copyright1 {
	font-family: "Roboto Condensed",sans-serif;
	font-size: 16px;
	text-shadow: #ffffff 0 0 20px;
	text-decoration: none;
	color:#ffffff;
}

#copyright1:hover {
	color: #ea00ff;; border-radius: 7px; transition-property: color, border-radius; transition-duration:.2s, 1s; transition-timing-function: linear, ease-in; transition-delay: 0s, 2s;
	text-shadow: #ff00f2 0 0 20px;
}

#developer {
	margin-top: 20px;
}

#new_text {
	color:black;
	float: left;
	margin-top: 70px;
	margin-left: 20px;
	font-family: "Roboto Condensed",sans-serif;
	font-size: 30px;
	text-shadow: #ff00f2 0 0 20px;
}

#game {
	display: none;
}

#discord {
	display: none;
}

#new_text {
	display: none;
}

#neww {
	display: none;
}

#categ {
	display: none;
}

#more {
	display: none;
}

@media (min-width: 1285px) {
  #game {
    display: block;
  }
}

@media (min-width: 1212px) {
	#discord {
   		display: block;
   	}
   	#new_text{
   		display: block;
   	}

}

@media (min-width: 945px) {
	#neww {
   		display: block;
	}

	#categ {
		display: block;
	}

	#more {
		display: block;
	}
}

@media (max-width: 520px) {
	#header {
		height: 120px;
	}

	#hello {
		margin-left: 20px;
	}
}

 
